@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	background-color: #FFF;
	color: #222;
}

header .nav-link {
	font-size: 1em !important;
	text-transform: upercase;
	color: #505050;
}
.nav-link {
	font-size: 1em !important;
	text-transform: upercase;
	color: rgb(77, 71, 71);
}

.carousel-inner img{
	width: 100%;
	height: 100%;
}
.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.carousel-caption h1{
	text-shadow: 1px 1px 15px #000;
}
.padding{
	padding-bottom: 2rem;
}
.welcome{
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}
.welcome hr{
	border-top : 2px solid #000;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;

}

.fa-tree{
	color: #33cc33;
}

.fa-wrench, .fa-tree, .fa-calendar-alt{
	font-size: 4em;
	margin: 1rem;
}
header .navbar {
	padding: .8rem;
	background-color: #202020;
}
footer {
	background-color: #202020;
	padding-left: 40%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.erreur{
	padding: 50%;
	margin: 50%;
}
.avis, .Fonctionalite{
	box-shadow: 0px 7px 9.11px #000;
	elevation: 14px;
}
.connection{
	margin-top: 5%;
	margin-bottom: 8%;
}
.container{
  position: relative;
  width: 400px;
  background: #111;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .post{
  display: none;
}
.container .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "I just hate it ";
}
#rate-2:checked ~ form header:before{
  content: "I don't like it ";
}
#rate-3:checked ~ form header:before{
  content: "It is awesome ";
}
#rate-4:checked ~ form header:before{
  content: "I just like it ";
}
#rate-5:checked ~ form header:before{
  content: "I just love it ";
}
.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #444;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #1b1b1b;
}





.avis{
	position: relative;
	width: 400px;
	background: #FFF;
	padding: 20px 30px;
	border: 1px solid #444;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.avis .post{
	display: none;
  }
.avis.text{
	font-size: 25px;
	color: #FFF;
	font-weight: 500;
  }
  .avis .edit{
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 16px;
	color: #666;
	font-weight: 500;
	cursor: pointer;
  }
  .avis .edit:hover{
	text-decoration: underline;
  }
  .avis .star-widget input{
	display: none;
  }
  .avis .star-widget label{
	font-size: 40px;
	color: #444;
	padding: 10px;
	float: right;
	transition: all 0.2s ease;
  }
  .avis input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
	color: #fd4;
  }
  .avis input:checked ~ label{
	color: #fd4;
  }
  .avis  input#rate-5:checked ~ label{
	color: #fe7;
	text-shadow: 0 0 20px #952;
  }
  .avis  #rate-1:checked ~ form header:before{
	content: "I just hate it ";
  }
  .avis #rate-2:checked ~ form header:before{
	content: "I don't like it ";
  }
  .avis #rate-3:checked ~ form header:before{
	content: "It is awesome ";
  }
  .avis #rate-4:checked ~ form header:before{
	content: "I just like it ";
  }
  .avis  #rate-5:checked ~ form header:before{
	content: "I just love it ";
  }
  .avis  .container form{
	display: none;
  }
  .avis  input:checked ~ form{
	display: block;
  }
  .avis  form header{
	width: 100%;
	font-size: 25px;
	color: #fe7;
	font-weight: 500;
	margin: 5px 0 20px 0;
	text-align: center;
	transition: all 0.2s ease;
  }
  .avis  form .textarea{
	height: 100px;
	width: 100%;
	overflow: hidden;
  }
  .avis  form .textarea textarea{
	height: 100%;
	width: 100%;
	outline: none;
	color: #eee;
	border: 1px solid #333;
	background: #222;
	padding: 10px;
	font-size: 17px;
	resize: none;
  }
  .avis .textarea textarea:focus{
	border-color: #444;
  }
  .avis form .btn{
	height: 45px;
	width: 100%;
	margin: 15px 0;
  }
  .avis form .btn button{
	height: 100%;
	width: 100%;
	border: 1px solid #444;
	outline: none;
	background: #222;
	color: #999;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  .avis  form .btn button:hover{
	background: #1b1b1b;
  }
/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
